.heroMain{
    padding: 50px;
    overflow: hidden;
}

.heroTop{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
}

.heroTitle{
    padding-left: 10px;
    width: 470px;
    font-size: 80px;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.heroTitle span{
    margin-left: 10px;
    color: rgb(0, 255, 200);
}

.heroTitle::before{
    content: '';
    position: absolute;
    background-color: rgb(41, 145, 255);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    filter: blur(10px);
    animation: anim 2s ease-in-out;
    -webkit-animation: anim 2s ease-in-out;
    left: 128px;
    top: -14px;
    width: 350px;
    height: 350px;
    z-index: -1;
    -webkit-filter: blur(15px);
}

.heroTitle::after{
    content: '';
    position: absolute;
    background-color: rgb(161, 117, 255);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    filter: blur(10px);
    animation: anim2 1s ease-in-out infinite;
    -webkit-animation: anim2 1s ease-in-out infinite;
    right: -1000px;
    top: 316px;
    width: 550px;
    height: 550px;
    z-index: -1;
    -webkit-filter: blur(50px);
    animation-direction:alternate;
}


@keyframes anim {
   0%{
        left: -100%;
        top: 90px;
        width: 150px;
        height: 150px;
    }
    70%{
        left: 400px;
        top: 90px;
        width: 150px;
        height: 150px;
    }


    100%{
        left: 128px;
        top: -14px;
        width: 350px;
        height: 350px;
    }
}


@keyframes anim2 {
    0%{
        right: -1000px;
        top: 200px;
     }
    
     100%{
        right: -1000px;
        top: 316px;
     }
 }

.startLearning{
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 700;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.startLearning:hover{
    -webkit-box-shadow: 0px 7px 28px -4px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 7px 28px -4px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 7px 28px -4px rgba(0, 0, 0, 0.24);
    background-color: #000;
    color:#fff;
}

.heroBottom{
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
    justify-content: space-between;
    position: relative;

}

.heroBottom p{
    width: 50%;
}