.swiper{
    width: 50%;
    margin: 0;
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.slide1{
    height: 400px;
    font-size: 32px;
    line-height: 32px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url('../../public/image/10-vazhnyx-sobytij-v-istorii-rossii-2.jpg');
}


.slide2{
    height: 400px;
    font-size: 32px;
    line-height: 32px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url('../../public/image/10-vazhnyx-sobytij-v-istorii-rossii-4.jpg');
}

.slide3{
    height: 400px;
    font-size: 32px;
    line-height: 32px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url('../../public/image/10-vazhnyx-sobytij-v-istorii-rossii-8.jpg');
}

.slide4{
    height: 400px;
    font-size: 32px;
    line-height: 32px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url('../../public/image/10-vazhnyx-sobytij-v-istorii-rossii-9.jpg');
}

.slide5{
    height: 400px;
    font-size: 32px;
    line-height: 32px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url('../../public/image/10-vazhnyx-sobytij-v-istorii-rossii-10.jpg');
}


.slideInfo{
    color:#fff;
    font-weight: 100;
    background-color: #000;
    opacity: .4;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.slideBtnMore{
    align-self: flex-end;
    justify-self: flex-end;
    background-color: #fff;
    padding: 15px 30px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.slideBtnMore:hover{
    background-color: #000;
    color: #fff;
}